.speed {
    width: 121px;
    height: 220px;
    position: fixed;
    z-index: 1000;
    font-size: 14px;
    color: #ffff;
    background: #191934;
    border-radius: 10px;
    left: 764px;
    top: 150px;
}

.cardSpeed {
    width: 91px;
    height: 36px;
    margin-top: 9px;
    gap: 10px;
    display: inline-flex;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
    background: none;
    font-size: 14px;
    color: #ffff;
    border: none;
    outline: none;
    /* Remove o contorno */

}

.cardSpeed.selected {
    border-color: #0b0b21;
    background-color: #0b0b21;
}

.cardSpeed:hover {
    background: #0b0b21;
    border-radius: 3px;
}

.cardSpeed img {
    max-height: 14px;
    margin-left: 5px;
    margin-top: 18px;
}

.cardSpeed:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 40px;
}

.cardSpeed:last-child {
    height: 46.5px;
}