.selectSiteModal{
    width: 243px;
    height: 530px;
    position: fixed;
    z-index: 1000;
    font-size: 14px;
    color: #ffff;
    background: #191934;
    border-radius: 10px;
    left: 234px;
    top: 180px;
}

.card{
 width: 211px;
 height: 36px;
 margin-top: 5px;
 gap: 10px;
 display: inline-flex;
 margin-left: 16px;
 margin-right: 16px;
}

.card img{
    max-width: 18px;
    margin-left: 5px;
    margin-top: 10px;
}

.card:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 10px;
  }
  