:root {
  --bg-color: #02061e;
  --bg-inputs: #070b2b;
  --bg-filterbar: #1e234d;
}

body {
  background-color: var(--bg-color);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.main {
  padding: 0px 22px 0px 29px;
  margin-left: 89px;
}

.title {
  color: #ffff;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  float: left;
}

.navbar {
  top: 0;
  width: 100%;
  height: 53px;
}

.btns {
  float: right;
}

.displayNone {
  display: none;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar ul>li {
  padding-left: 10px;
}

.navNotificationBtn,
.navEngineBtn {
  background-color: #191934;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.searchbar {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.label {
  width: 228px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--bg-inputs);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.search {
  padding-left: 17px;
  position: relative;
  background-color: var(--bg-inputs);
  border: none;
  outline: none;
  color: #ffff;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searchleft {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.labelSelectSite {
  width: 118px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--bg-inputs);
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.selectSite {
  background-color: var(--bg-inputs);
  background-image: url("../../assets/selectSite.svg");
  background-position: right 3px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 105px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.4);
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  text-indent: 0.01px;
  cursor: pointer;
  padding-right: 10px;
}

.labelMaxMinValue {
  width: 115px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--bg-inputs);
  display: flex;
  color: #ffff;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.labelMaxMinValue>div {
  width: 50px;
  height: 44px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.searchMaxMin {
  position: relative;
  right: 3px;
  background-color: var(--bg-inputs);
  border: none;
  outline: none;
  color: #ffff;
  width: 50px;
  display: flex;
  align-items: center;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.labelSelectSpeed {
  width: 85px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--bg-inputs);
  display: flex;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.selectSpeed {
  background-color: var(--bg-inputs);
  color: rgba(255, 255, 255, 0.4);
  outline: none;
  border: none;
  background-image: url("../../assets/selectSite.svg");
  background-position: right 0px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 75px;
  border-radius: 50px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  text-indent: 0.01px;
  cursor: pointer;
}

.labelSelectSize {
  width: 70px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--bg-inputs);
  display: flex;
  justify-content: first;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.selectSize {
  background-color: var(--bg-inputs);
  color: rgba(255, 255, 255, 0.4);
  outline: none;
  border: none;
  background-image: url("../../assets/selectSite.svg");
  background-position: right 2px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  border-radius: 50px;
  width: 60px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  text-indent: 0.01px;
  cursor: pointer;
}

.searchBtn {
  width: 44px;
  height: 44px;
  background: radial-gradient(ellipse at 60% 10%,
      #ffdead -10%,
      #fa6e49 40%,
      #c314d4 110%);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.saveBtn {
  width: 44px;
  height: 44px;
  background-color: #191934;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.searchRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

.manageColumnsBtn {
  width: 156px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--bg-inputs);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  font-size: 12px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.moreFiltersBtn {
  width: 123px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--bg-inputs);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  font-size: 12px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filterbar {
  margin-top: 43px;
  background-color: var(--bg-filterbar);
  width: 100%;
  height: 38px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 200 800;

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U + FEFF, U + FFFD;
}

.filterCheckbox {
  margin: 0px 20px 0px 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #070b2b;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 3px;
}

.filterCheckbox:checked::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #5f33d6;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9 16.2l-4.2-4.2L3.5 13l5.5 5.5 11-11L18.3 6l-9.3 9.2z"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;

  border-radius: 2px;
}

.filterCheckbox:hover {
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.3);
}

.filterSiteBtn {
  height: 38px;
  width: 72px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterStartBtn {
  height: 38px;
  width: 72px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterBuyInBtn {
  height: 38px;
  width: 72px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterNameBtn {
  height: 38px;
  width: 220px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterPrizePoolBtn {
  height: 38px;
  width: 95px;
  border: none;
  background-color: var(--bg-filterbar);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: radial-gradient(ellipse at 30% 30%,
      #ffdead 0%,
      #fa6e49 27%,
      #c314d4 90%);
  font-size: 12px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  cursor: pointer;
}

.filterMaxReentryBtn {
  height: 38px;
  width: 112px;
  border: none;
  background-color: var(--bg-filterbar);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: radial-gradient(ellipse at 30% 30%,
      #ffdead 0%,
      #fa6e49 27%,
      #c314d4 90%);
  font-size: 12px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  cursor: pointer;
}

.filterBlindsBtn {
  height: 38px;
  width: 75px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterSpeedBtn {
  height: 38px;
  width: 78px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterFieldBtn {
  height: 38px;
  width: 83px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterEndBtn {
  height: 38px;
  width: 67px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterMlrBtn {
  height: 38px;
  width: 80px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterTableSizeBtn {
  height: 38px;
  width: 97px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
}

.filterPriorityBtn {
  height: 38px;
  width: 116px;
  border: none;
  background-color: var(--bg-filterbar);
  color: #ffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50px;
}

button,
input,
option,
select {
  font-family: "Plus Jakarta Sans", sans-serif;
}

table {
  width: 100%;
}

.tableTr {
  display: flex;
  flex-direction: column;
}

.stylesCheckboxTable {
  position: relative;
  top: -3.5px;
  left: 7.7px;
  width: 75px;
}

.favouriteStar {
  cursor: pointer;
}

.checked {
  fill: #fff600;
}

.checkBoxTable {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 22px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #070b2b;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.checkBoxTable:checked::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #5f33d6;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9 16.2l-4.2-4.2L3.5 13l5.5 5.5 11-11L18.3 6l-9.3 9.2z"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -1px;
  left: -1px;
}

.checkBoxTable:hover {
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.3);
}

.siteTable {
  height: 38px;
  width: 69px;
  color: #ffff;
}

.startTable {
  color: white;
  height: 38px;
  width: 68px;
}

.buyInTable {
  color: white;
  height: 38px;
  width: 68px;
}

.nameTable {
  height: 38px;
  width: 220px;
  color: #ffff;
}

.prizePoolTable {
  height: 38px;
  width: 90px;
  color: #ffff;
}

.maxReentryTable {
  height: 38px;
  width: 110px;
  color: #ffff;
}

.blindsTable {
  height: 38px;
  width: 71px;
  color: #ffff;
}

.speedTable {
  height: 38px;
  width: 73px;
  color: #ffff;
}

.fieldTable {
  height: 38px;
  width: 78px;
  color: #ffff;
}

.endTable {
  height: 38px;
  width: 64px;
  color: #ffff;
}

.mlrTable {
  height: 38px;
  width: 81px;
  color: #ffff;
}

.tableSizeTableRegistered {
  height: 38px;
  width: 90px;
  color: #ffff;
}

.tableSizeTable{
  height: 38px;
  width: 96px;
  color: #ffff;
}

.priorityTable {
  height: 38px;
  width: 115px;
  color: #ffff;
}
.priorityTableRegistered {
  height: 38px;
  width: 70px;
  color: #ffff;
}

.siteTable,
.startTable,
.buyInTable,
.nameTable,
.prizePoolTable,
.maxReentryTable,
.blindsTable,
.speedTable,
.fieldTable,
.endTable,
.mlrTable,
.tableSizeTable,
.tableSizeTableRegistered,
.priorityTable,
.priorityTableRegistered {
  font-size: 12px;
  vertical-align: middle;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ff5555;
  font-size: 18px;
  /* Ajuste o tamanho do ícone */
  padding: 5px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton i {
  margin-right: 5px;
  /* Espaçamento entre o ícone e o texto */
}

.deleteButton:hover {
  transform: scale(1.1);
  color: #ff0000;
  /* Cor vermelha mais intensa quando hover */
}
