:root {
  --bg-sidebar: #070b2b;
}

.sidebar {
  position: fixed;
  width: 89px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  z-index: 1000;
  overflow: auto;
}

.dark{
  background-color: var(--bg-sidebar);
  color: #fff;
}

.light{
  background-color: #fff;
  color: #070b2b;
}

.sidebar.open {
  width: 206px;
  display: flex;
}

.sidebar ul {
  margin-top: 216px;
  margin-left: 29px;
  position: fixed;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

li {
  margin: 38px 0px 0px 0px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;
  width: 100%;
}

li.open {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bgIcon {
  transition: 0.2s;
  background: radial-gradient(ellipse at 50% 1%, #bba5f4 -30%, #5f33d6 50%);
  border-radius: 7px;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: none;
}

.sidebar a {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  display: inline-block;
  margin-left: 2px;
  margin-top: 14.9px;
}

.logo img {
  position: relative;
  z-index: 2;
  width: 70px;
  height: 70px;
}

.logoOpened {
  margin-top: 16px;
}

.colorText {
  color: #5f33d6;
}

.alignementList{
  justify-content: space-between;
}

.marginLeft{
  margin-left: 18px;
}