.notifications{
    width: 313px;
    height:auto;
    min-height: 100px;
    position: fixed;
    top: 103px;
    right: 72.5px;
    z-index: 1000;
    color: #ffff;
    background: #191934;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.notifications p{
    height: 20px;
    width: 250px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.80);
}